crispy-bootstrap5==0.6
cryptography==2.8
dbus-python==1.2.16
distro==1.4.0
Django
django-boost==2.0
django-crispy-forms==1.13.0
django-widget-tweaks==1.4.11
entrypoints==0.3
fasteners==0.14.1
future==0.18.2
httplib2==0.14.0
launchpadlib==1.10.13
pycups==1.9.73
PyGObject==3.36.0
PyJWT==1.7.1
sqlparse==0.4.2
ssh-import-id==5.10
gunicorn
