
.list-group {
    margin: 30px;
    padding: 20px;
    font-size: xx-large;
}

.body {
    margin: 30px;
}

.back {
    margin: 20px;
}

.mb-1 {
    padding: 10px;
    border-radius: 20px;
}


.block1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#test-title {
    color: beige;
    font-size: xx-large;
    font-family: cursive;
    background-color: black;

}

#test-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
}


/* body { */
    /* background-color: aqua; */
/* } */