/* そのままctr+Rしてもブラウザに反映されない時は、shift+crl+R */

@import url(http://fonts.googleapis.com/css?family=Pinyon+Script);

#greeting {
    margin: 10px;
    font-size: large;
    font-weight: bold;
}

#htu {
    margin: 20px;
}

#showuser {
    font-weight: bold;
    margin-right: 10px;
}
.register {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 800px;
}

.list-group {
    margin: 30px;
    padding: 20px;
    font-size: xx-large;
}


.body {
    margin: 30px;
}

.create {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 1000px;
}

.update {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 1000px;
}

.delete {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 300px;
}

.errormsg {
    color: red;
    font-weight: bold;
}
.back {
    margin: 30px;
}

.mb-1 {
    padding: 10px;
    border-radius: 20px;
}


.block1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#test-title {
    color: beige;
    font-size: xx-large;
    font-family: cursive;
    background-color: black;

}

#test-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
}

#copyright {
    font-family: Pinyon Script, cursive;
}


/* body { */
    /* background-color: aqua; */
/* } */