{% extends 'base.html' %}

{% block content %}
<a href="{% url 'create_cpmt' %}" class="btn btn-primary">冷蔵室作成</a>
<a href="{% url 'update_cpmt' %}" class="btn btn-primary">冷蔵室更新</a>
<a href="{% url 'delete_cpmt' %}" class="btn btn-primary">冷蔵室削除</a>
<div class="list-group">
    {% for cpmt in object_list %}
    <a href="{% url 'ingre' cpmt.pk %}" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ cpmt.get_name_display }}</h5>
        <small>{{ cpmt.date }}</small>
      </div>
      <p class="mb-1">{{ cpmt.category }}</p>
      <small>Something to describe.</small>
    </a>
    {% endfor %}
</div>

{{ expiration_alarm }}

{{ now }}
<!-- viewsから飛んできたcontext.hogeを出力 -->

{% endblock content %}

