{% extends 'base.html' %}

{% block content %}
<a href="{% url 'create_cpmt' ref_pk %}" class="btn btn-primary">冷蔵室作成</a>

<div class="list-group">
    {% for cpmt in object_list %}
    <a href="{% url 'ingre' %}" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ cpmt.get_name_display }}</h5>
        <small>{{ cpmt.date }}</small>
      </div>
      <p class="mb-1">{{ cpmt.category }}</p>
      <small>Something to describe.</small>
    </a>
</div>
    <a href="{% url 'update_cpmt' cpmt.pk %}" class="btn btn-info">冷蔵室更新</a>
    <a href="{% url 'delete_cpmt' cpmt.pk %}" class="btn btn-danger">冷蔵室削除</a>
    <p></p>
    {% endfor %}

{{ form.as_p }}

<!-- viewsから飛んできたcontext.hogeを出力 -->

{% endblock content %}

