{% extends 'base.html' %}
{% load boost %}
{% block header %}
{% endblock header %}
{% block content %}

<h2>{{ object.get_name_display }} 一覧</h2>
<a href="{% url 'create_ingre' object.pk %}" class="btn btn-primary">材料追加</a>
<a href="{% url 'detail_ref' object.pk %}" class="btn btn-primary">日付新しい順</a>
<a href="{% url 'detail_ref' object.pk %}" class="btn btn-primary">日付古い順</a>
<a href="{% url 'detail_ref' object.pk %}" class="btn btn-primary">名前順</a>
<p></p>
<h4>
  {% if child_ingredients|length == 0 %}
  {{ object.get_name_display }}には食材がありません。材料追加ボタンから食材を追加しましょう！
  {% endif %}
</h4>
<p></p>
<div class="list-group">
    {% for ing_s in child_ingredients %}
      {% if ing_s.numbers == 0 %}
      {% else %}
      <a href="{% url 'detail_ingre' ing_s.pk %}" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between" 
          {% if ing_s.is_over_expiration %}style="background-color: red"{% endif %}>
          <h5 class="mb-1">食材名：{{ ing_s.name }}</h5>
          <small>数量：{{ ing_s.numbers }} {{ ing_s.get_unit_display }}</small>
          <small>更新日時：{{ ing_s.history.updated_at }} 更新者：{{ ing_s.history.user }}</small>
        </div>
      </a>
</div>
    <a href="{% url 'update_ingre' ing_s.pk %}" class="btn btn-info">材料更新</a>
    <a href="{% url 'delete_ingre' ing_s.pk %}" class="btn btn-danger">材料削除</a>
    <p></p>
      {% endif %}
    {% endfor %}
    <a href="{% url 'detail_ref' object.refrigerator.pk %}" class="btn btn-primary">戻る</a>

{% endblock content %}