{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="update">
    <h3 class="display-9">冷蔵庫作成</h1>
    <form action='' method='POST'>{% csrf_token %}
            <div class="form-group">
                <form class="my-form" action="" method="POST">{% csrf_token %}
                    <div class="row">
                    <div class="form-group col-md-11">
                        {{ form.fields.name.label }}
                        {{ form.name |add_class:"form-control"}}
                    </div>
                    <div class="form-group col-md-11">
                        <input type='hidden' name='next' value='{{ next }}' />
                        <button type="submit" class="btn btn-primary">作成</button>
                        <a href="{% url 'ref' 'def' %}" class="btn btn-secondary">戻る</a>
                    </div>
                </form>
            </div>
    </form>
</div>

{% endblock content %}