{% extends 'base.html' %}
{% load crispy_forms_tags %}
<head>
    {{add_date_form.media}}
</head>

{% block content %}
<h3 class="display-9">材料作成</h3>
    <div class="col-sm">
        <form method="post" action="" class="col-sm">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="login">
        </form>
        <button type="submit" class="btn btn-primary">作成する</button>
        <a href="{% url 'cpmt_detail' cpmt_pk %}" class="btn btn-secondary">戻る</a>
    </div>
</form>

{% endblock content %}