{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="body" href="{% static 'base.css' %}" rel="stylesheet">
  <h2><b>伝言板</b></h2>
  <a href="{% url 'create_info' %}" class="btn btn-primary">作成</a>
  <p></p>
    {% for info in info_list %}
    <a class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ info.title }}</h5>
        <small>{{ info.date }}</small>
      </div>
      <small>{{ info.text }}</small>
    </a>
    <a href="{% url 'update_info' info.pk %}" class="btn btn-info">更新</a>
    <a href="{% url 'delete_info' info.pk %}" class="btn btn-danger">削除</a>
    <p></p>
    {% endfor %}
</div>
<div class="back" href="{% static 'base.css' %}" rel="stylesheet">
  <a href="{% url 'home' %}" class="btn btn-secondary">戻る</a>
</div>

{% endblock content %}
