{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
{% if over_expiration_items|length > 0 %}
  <h3>賞味期限が切れている食材があります。</h3>
  <!-- |←パイプ：フィルタリングをする。今回はリストの要素数が0以上ならば
        over_expiration_items を表示　-->
  <ul>
    {% for item in over_expiration_items %}
    <li>{{ item.name }}</li>
    {% endfor %}
  </ul>
{% endif %}
<h3>
  {{ ingre_history.ingre_name }}の更新履歴
  作成日：
</h3>
<!-- <a href="{% url 'create_ingre' object.pk %}" class="btn btn-primary">材料追加</a> -->
<div class="list-group">
    {% for ingre_history in ingre_histories_list %}
    <a class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between" 
        {% if ing_s.is_over_expiration %}style="background-color: red"{% endif %}>
        <h5 class="mb-1">No.:{{ ingre_history.id }}</h5>
        <small>数量：{{ ingre_history.ingre_numbers }} {{ ingre_history.get_unit_display }}</small>
        <small>更新日時：{{ ingre_history.updated_at }} 更新者：</small>
      </div>
    </a>
</div>
    <p></p>
    {% endfor %}
  
    <a href="{% url 'cpmt_detail' object.compartment.pk %}" class="btn btn-primary">戻る</a>

{% endblock content %}