{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
{% if over_expiration_items|length > 0 %}
  <h3>賞味期限が切れている食材があります。</h3>
  <!-- |←パイプ：フィルタリングをする。今回はリストの要素数が0以上ならば
        over_expiration_items を表示　-->
  <ul>
    {% for item in over_expiration_items %}
    <li>{{ item.name }}</li>
    {% endfor %}
  </ul>
{% endif %}

<a href="{% url 'create_ingre' %}" class="btn btn-primary">材料追加</a>
<a href="{% url 'create_history_ing' %}" class="btn btn-primary">履歴追加</a>
<div class="list-group">
    {% for ing_s in object_list %}
    <a class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between" 
        {% if ing_s.is_over_expiration %}style="background-color: red"{% endif %}>
        <h5 class="mb-1">食材名：{{ ing_s.name }}</h5>
        <small>数量：{{ ing_s.numbers }} {{ ing_s.get_unit_display }}</small>
        <small>更新日時：{{ ing_s.date }}　更新者：{{ ing_s.user }}</small>
      </div>
    </a>
</div>
    <a href="{% url 'update_ingre' ing_s.pk %}" class="btn btn-info">材料更新</a>
    <a href="{% url 'delete_ingre' ing_s.pk %}" class="btn btn-danger">材料削除</a>
    <p></p>
    {% endfor %}
    <a href="{#}" class="btn btn-primary">戻る</a>

{% endblock content %}