{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

<div class="list-group">
    {% for ing_s in object_list %}
    <a class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ ing_s.name }}</h5>
        <small>{{ ing_s.numbers }} {{ ing_s.unit }}</small>
      </div>
    </a>
    {% endfor %}
    <a href="{% url 'ref_door' %}" class="btn btn-primary">戻る</a>
</div>


{% endblock content %}