{% extends 'base.html' %}
{% load boost %}
{% load static %}
{% block content %}

<div class="body" href="{% static 'base.css' %}" rel="stylesheet">

  <h2>{{ object.name }}一覧</h2>
  <a href="{% url 'create_cpmt' object.pk %}" class="btn btn-primary">冷蔵室作成</a>
  <a href="{% url 'detail_ref' object.pk %}" class="btn btn-outline-primary">日付新しい順</a>
  <a href="{% url 'detail_ref' object.pk %}" class="btn btn-outline-primary">日付古い順</a>
  <a href="{% url 'detail_ref' object.pk %}" class="btn btn-outline-primary">名前順</a>
  <p></p>

  <div class="forloop" href="{% static 'base.css' %}" rel="stylesheet"></div>
    {% for child_cpmt, number in child_cpmt_list|zip:ing_quantity %}
        <a href="{% url 'cpmt_detail' child_cpmt.pk %}" class="list-group-item list-group-item-action active" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ child_cpmt.get_name_display }}  
              &nbsp;<font size="3">食材:{{number}}種類</font>
            </h5>
            <small>更新日:{{ child_cpmt.ingre_history.updated_at }}</small>
          </div>
        </a>
        <a href="{% url 'update_cpmt' child_cpmt.pk %}" class="btn btn-info">冷蔵室更新</a>
        <a href="{% url 'delete_cpmt' child_cpmt.pk %}" class="btn btn-danger">冷蔵室削除</a>
        <p></p>
        {% endfor %}
  </div>
  <div class="back" href="{% static 'base.css' %}" rel="stylesheet">
    <a href="{% url 'ref' 'def' %}" class="btn btn-primary">戻る</a>
  </div>
</div>
{% endblock content %}