{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'base.css' %}" rel="stylesheet">

<div class="body" href="{% static 'base.css' %}" rel="stylesheet">
    <h2>
        <b>冷蔵庫一覧</b>
    </h2>
        <a href="{% url 'create_ref' %}" class="btn btn-primary">冷蔵庫作成</a>
        <a href="{% url 'ref' 'def' %}" class="btn btn-outline-primary">日付新しい順</a>
        <a href="{% url 'ref' 'sort_date' %}" class="btn btn-outline-primary">日付古い順</a>
        <a href="{% url 'ref' 'sort_name' %}" class="btn btn-outline-primary">名前順</a>
    <p></p>
    
    
    <div class="forloop" href="{% static 'base.css' %}" rel="stylesheet">
        <div class="" href="{% static 'base.css' %}" rel="stylesheet">
            {% for refrigerator in object_list %}
                <a href="{% url 'detail_ref' refrigerator.pk %}" class="list-group-item list-group-item-action active" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ refrigerator.name }}</h5>
                    <small>作成日 : {{ refrigerator.date }}</small>
                    </div>
                </a>
            <a href="{% url 'update_ref' refrigerator.pk %}" class="btn btn-info">名前変更</a>
            <a href="{% url 'delete_ref' refrigerator.pk %}" class="btn btn-danger">削除</a>
            <p></p>
            {% empty %}
            <h4>
                あなたの冷蔵庫はまだ未作成です。冷蔵庫作成ボタンからあなたの冷蔵庫を作成しましょう！
            </h4>
            {% endfor %}
        </div>
    </div>

</div>

    <!-- Paginator -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-lg g-mt-28 g-mb-28">
          <!-- 前へ の部分 -->
          {% if page_obj.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
          {% endif %}
          <!-- 数字の部分 -->
          {% for num in page_obj.paginator.page_range %}
              {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}
  
                  {% if page_obj.number == num %}
                      <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                  {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                  {% endif %}
              {% endif %}
          {% endfor %}
          <!-- 次へ の部分 -->
          {% if page_obj.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          {% endif %}
         </ul>
    </nav>

<p></p>
<div class="back" href="{% static 'base.css' %}" rel="stylesheet">
    <a href="{% url 'home' %}" class="btn btn-secondary">戻る</a>
</div>

{% endblock content %}