{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'base.css' %}" rel="stylesheet">

<body>
  <div id="test-title" href="{% static 'base.css' %}" rel="stylesheet">
    Takahito Yabuki
  </div>

  <div id="test-text" href="{% static 'base.css' %}" rel="stylesheet">
    Introduction of Takahito Yabuki
  </div>

  <div class="list-group" href="{% static 'base.css' %}" rel="stylesheet">
    <li>北海道網走市</li>
    <li>埼玉県三郷市</li>
    <li>東京都葛飾区</li>
    <li>愛知県名古屋市</li>
    <li>千葉県流山市</li>

  </div>

</body>
{% endblock content %}