{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'base.css' %}" rel="stylesheet">

<body>
  <div class="card-group" href="{% static 'base.css' %}" rel="stylesheet">
    Nakamura Akane
  </div>

  <div class="text" href="{% static 'base.css' %}" rel="stylesheet">
    なかむの名言一覧
  </div>

  <div class="list-group" href="{% static 'base.css' %}" rel="stylesheet">
    <li>ぴぃぴぃ</li>
    <li>なのなの</li>
    <li>ももも！</li>
    <li>You have to go.</li>
    <li>つっつくつっつく</li>
    <li>ぷりぷりぷりぷり</li>
    <li>ん！ん！</li>

  </div>

</body>
{% endblock content %}