{% extends 'base.html' %}
{% load widget_tweaks %}
{{ form.media }}
<head>
    {{add_date_form.media}}
</head>

{% block content %}
<div class="create">
  <h3 class="display-9">食材更新</h3>
  <form action='' method='POST'>{% csrf_token %}
          <div class="form-group">
              <form class="my-form" action="" method="POST">{% csrf_token %}
                  <div class="row">
                  <div class="form-group col-md-11">
                    {{ form.fields.name.label }}
                    {{ form.name |add_class:"form-control"}}
                  </div>
                  <div class="form-group col-md-11">
                    {{ form.fields.numbers.label }}
                    {{ form.numbers |add_class:"form-control"}}
                  </div>
                  <div class="form-group col-md-11">
                    {{ form.fields.unit.label }}
                    {{ form.unit |add_class:"form-control"}}
                  </div>
                  <div class="form-group col-md-11">
                    {{ form.fields.expiration_date.label }}
                    {{ form.expiration_date |add_class:"form-control"}}
                  </div>
                  <div class="form-group col-md-11">
                    <input type='hidden' name='next' value='{{ next }}' />
                    <button type="submit" class="btn btn-primary">更新</button>
                    <a href="{% url 'cpmt_detail' cpmt_pk 'def' %}" class="btn btn-secondary">戻る</a>
                  </div>
              </form>
          </div>
  </form>
</div>

{% endblock content %}